.container {
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/bg.png');
  background-color: #000000a9;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-search {
  width: 100%;
}
