.container {
  width: 100vw;
  height: 100vh;
  /* background-image: url('/assets/bg.png'); */
  background-color: #000;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

app-search {
  width: 100%;
}
