<div class="search-container" style="background-color: {{bgColor}}">
  <form class="search-form" #form="ngForm" (submit)="onSubmit(form, search)">
    <!-- <span class="logo" routerLink="/">VidGameDB</span> -->
    <div>
      <input
      type="text"
      class="search-input"
      name="search"
      placeholder="Search YouTube!"
      ngModel
      #search
      >
      <button
        class="search-button"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </form>
</div>
